Source: python-hug
Maintainer: IntelMQ Team <intelmq-team@cert.at>
Section: python
Priority: optional
Build-Depends:
 debhelper-compat (= 11),
 cython3,
 dh-python,
 python3-all,
 python3-all-dev,
 python3-setuptools
Build-Depends-Indep:
 python3-falcon,
 python3-flake8,
 python3-marshmallow,
 python3-mock,
 python3-pytest,
 python3-pytest-cov,
 python3-pytest-runner,
 python3-requests
Standards-Version: 4.5.1
Homepage: https://github.com/hugapi/hug

Package: python3-hug
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Description: Python3 framework for HTTP and CLI APIs
 hug makes developing a Python driven API as succinct as a written definition.
 Built-in API version management, validation and documentation generation.
 Encourages self-documenting code and easy testing.
 hug is Python 3+ only and built upon Falcon's high performance HTTP library.
